body{
	background: #E6E6E6;
	font-family: 'Lato', sans-serif;
}

.azul{
	color: #639cc6;
}

.gris{
	color: #898989;
}

.gris-oscuro{
	color: #666666;
}

.verde{
	color: #6FA361;
}

.blanco{
	color: white;
}

.verde-bg{
	background: #6FA361;
}

.gris-claro-bg{
	background: #f2f2f2;
}

.gris-oscuro-bg{
	background: #e6e6e6;
}


.verde-bg:hover{
	background: #6FA361;
}

.linea{
	border: 0;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #ffffff;
}

.bold{
	font-weight: bold;
}

.imagen{
	width: 200px;
	/*height: 200px;*/
}

.imagen_empresa{
	width: 100%;
	height: 245px;

	.abrir_menu{
		cursor: pointer;
	}

}


/*Table*/
.dataTables_info{
	display: none;
}

.dataTables_filter label{
	float: none !important;
}

.head-tabla{
	background: #639cc6;
}

.head-tabla tr th{
	color: white;
	font-weight: normal;
}

.titulo-editar{
	background:#639cc6;
	padding: 10px 0;
	color: white;
}

/*Menu*/

.menu_general{
	position: absolute;
	top: 0;
	background: rgba(51,51,51,0.9);
	padding: 0 20px 20px 20px;
	height: 100%;
	z-index: 10;
	overflow: auto;
	display: none;


	.cerrar_menu{
		cursor: pointer;
	}
}

#lista_menu{
	list-style: none;
	margin: 10px 0 0 0;

	li{ 
		padding: 10px 0;
		border-bottom: 1px white solid;

		a{
			color: white;
		}
	}
}

/*Overflow foundation*/


.row .row{
	margin-left: 0;
	margin-right: 0;
}