// Place all the styles related to the usuarios controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#change_password{
	cursor: pointer;
}


@media only screen and (min-width: 647px) {
	.hidden-large	{ display:none; visibility:hidden; }
}

@media only screen and (max-width: 655px) {
	.hidden-movil-medium-user	{ display:none; visibility:hidden; }
}

@media only screen and (max-width: 490px) {
	.hidden-movil-small-user	{ display:none; visibility:hidden; }
}